@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800');
 
body {
  font-family: Poppins !important;
  background-color: white;
  padding: 20px 10% !important;
  height: auto;
}

html, body {
  height: 1000px !important;
}

pre, code {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace !important;
}
